* {
    scroll-behavior: smooth;

}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    background-image: url(images/donation5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100;
    height: 100;

}

.components {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 630px;

}

.components .healine-1 h1 {
    text-align: center;
    color: #dddddd;
    padding: 5px;
}

.components .details-1 p {
    text-align: center;
    color: #dddddd;
    padding: 5px;

}

.link-button {
    margin-bottom: 50px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 20px;


}

#donate-today {
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 20px 20px;

}

#top {
    color: white;
}

.flexible-container {
    display: flex;
    margin: 30px 50px;
    justify-content: center;
}




}

.top-banner {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    width: 1440px;
    background-position: top;
}

.middle-section {}