body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 20px;


}

#top {
    color: white;
}

.flexible-container {
    display: flex;
    margin: 80px;
    justify-content: center;
    /* align-items: center; */
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40 px;
    color: white;
    font-weight: 700;
    border-radius: 5px;


}

.top-banner {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    width: 1440px;
    background-position: top;
}